<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        html {
  background-color: rgba(37, 38, 38, 0.78);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    width: available;
}

.card-media {
  display: flex;
  padding: 10px;
  height: 250px;
  width: calc(20% - 40px);
}

.poster {
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  margin-top: -25px;
}
    </style>
</head>
<body>
<div class="navbar">
    <div>-->
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div>-->
        <a href="{% url 'search' %}">Search</a>
    </div>
</div>
    <form class="container" method="POST" action="/favourite/">
        {% csrf_token %}
        {% for movie in movies %}
            <div class="card-media">
              <img src="{{movie.poster}}" alt="" class="poster">
             </div>
    {% endfor %}
    </form>
</body>
</html>